<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>some dank pixels... in theory</title>
		<link rel="stylesheet" href="{% static 'gratuitous_imagery/css/image_post.css' %}">
  </head>

	<body>
		
    <div class="menubar">
			<p>navigate<br>
				 --------</p>
      <a href="/">home</a>
      <a href="/read/posts">posts</a>
      <a href="/read/contact">contact</a>
      <a href="/read/whereami">what is this</a>
    </div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/sql">SQL is easy</a>
      <a href="/read/dns">What's DNS??</a>
		</div>
		
		<div class="textBody">

      <center><img src="{% static 'gratuitous_imagery/img/edits/street_snow_banner.jpg' %}" alt="snow in the streets"></center>

      <center><p>welcome to the photography speakeasy.  don't know how you got here, 
        but I guess that means you're cool and you can stay.  just remember to tip 
        your bartender.</p></center><br><br>

      <center><p>----------pics I kinda like----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1714.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1714.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1702.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1702.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1704.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1704.JPG' %}">
        </a>
      <center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1813.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1813.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1817.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1817.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1810.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1810.JPG' %}">
        </a>
      <center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1685.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1685.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1761.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1761.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1749.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1749.JPG' %}">
        </a>
      <center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1736.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1736.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1725.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1725.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/edits/IMG_1771.jpg' %}">
          <img src="{% static 'gratuitous_imagery/img/edits/T_IMG_1771.jpg' %}">
        </a>
      <center>
      <br>
      <center><p>----------sun and moon----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1813.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1813.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1814.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1814.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1815.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1815.JPG' %}">
        </a>
      <center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1816.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1816.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/sun_and_moon/IMG_1817.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/sun_and_moon/T_IMG_1817.JPG' %}">
        </a>
      <center>
      <br>

      <center><p>----------haunted----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1693.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1693.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1694.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1694.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1695.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1695.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1696.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1696.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1697.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1697.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1698.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1698.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1699.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1699.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1700.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1700.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1701.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1701.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1702.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1702.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1703.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1703.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1704.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1704.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1705.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1705.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1706.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1706.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/haunted/IMG_1707.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/haunted/T_IMG_1707.JPG' %}">
        </a>
      </center>
      <br>

      <center><p>----------washpark----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1708.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1708.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1709.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1709.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1710.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1710.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1711.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1711.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1712.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1712.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1713.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1713.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1714.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1714.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1715.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1715.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1716.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1716.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1717.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1717.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1718.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1718.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1719.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1719.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1720.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1720.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1721.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1721.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1722.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1722.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1723.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1723.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1724.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1724.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1725.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1725.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1726.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1726.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1727.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1727.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1728.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1728.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1729.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1729.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1730.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1730.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1731.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1731.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1732.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1732.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1733.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1733.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1734.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1734.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1735.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1735.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1736.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1736.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1737.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1737.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1738.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1738.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1739.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1739.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1740.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1740.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1741.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1741.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1742.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1742.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1743.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1743.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1744.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1744.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1745.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1745.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1746.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1746.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1747.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1747.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1748.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1748.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1749.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1749.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1750.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1750.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1751.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1751.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1752.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1752.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1753.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1753.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1754.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1754.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1755.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1755.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1756.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1756.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1757.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1757.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1758.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1758.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1759.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1759.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1760.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1760.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1761.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1761.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1762.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1762.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1763.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1763.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1764.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1764.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1765.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1765.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1766.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1766.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1767.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1767.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1768.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1768.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/washpark/IMG_1769.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/washpark/T_IMG_1769.JPG' %}">
        </a>
      </center>
      <br>

      <center><p>----------nightsnow----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1685.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1685.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1686.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1686.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1687.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1687.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1688.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1688.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1689.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1689.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1690.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1690.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1691.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1691.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/nightsnow/IMG_1692.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/nightsnow/T_IMG_1692.JPG' %}">
        </a>
      </center>
      
      <center><p>----------shots of my tv----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1807.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1807.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1808.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1808.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1809.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1809.JPG' %}">
        </a>
      </center>
      <br>
      <center>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1810.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1810.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1811.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1811.JPG' %}">
        </a>
        <a href="{% static 'gratuitous_imagery/img/shots_of_tvs/IMG_1812.JPG' %}">
          <img src="{% static 'gratuitous_imagery/img/shots_of_tvs/T_IMG_1812.JPG' %}">
        </a>
      </center>
      <br>
        
      <center><p>----------edited stuff----------</p></center><br><br>

      <center>
        <a href="{% static 'gratuitous_imagery/img/edits/IMG_1771.jpg' %}">
          <img src="{% static 'gratuitous_imagery/img/edits/T_IMG_1771.jpg' %}">
        </a>
      

		</div>
	</body>
</html>

