<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>SQL is easy</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>
    <div class="menubar">
			<p>navigate<br>
				 --------</p>
      <a href="/">home</a>
      <a href="/read/posts">posts</a>
      <a href="/read/contact">contact</a>
      <a href="/read/whereami">what is this</a>
    </div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/sql">SQL is easy</a>
      <a href="/read/dns">What's DNS??</a>

		</div>

		<div class="textBody">
			<p><center><booming>Let's talk about <vocab>databases</vocab>.</booming></center></p>
			<p><vocab>SQL</vocab>, Structured Query Language, 
			is both a piece of server software which hosts
			and keeps organized a <vocab>database</vocab> system and a, well, 
			<i>structured language</i> for interacting with it and 
			<vocab>querying</vocab> the <vocab>database</vocab>.</p>
			
			<p>That's a mouthful.  An <vocab>SQL</vocab> <vocab>database</vocab> is 
			essentially a collection of spreadsheets, 
			which it calls <vocab>tables</vocab>.  <vocab>Tables</vocab> have, 
			just like spreadsheets,
			<vocab>columns</vocab> and <vocab>rows</vocab>.  
			<vocab>Tables</vocab> are generally used to represent 
			a list of <vocab>objects</vocab>.</p>
			
			<p>Let's look at a <vocab>table</vocab>.  This <vocab>table</vocab>'s 
			named <i>Partiers</i>.</p>
			
			<table>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>PhoneNumber</th>
					<th>Cool?</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>Peura</td>
					<td>555-6477</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Nathan</td>
					<td>Van Houten</td>
					<td>555-8580</td>
					<td>FALSE</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>Dirkx</td>
					<td>555-4881</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>Janssens</td>
					<td>555-5338</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Kasper</td>
					<td>Kovačević</td>
					<td>555-1720</td>
					<td>FALSE</td>
				</tr>
			</table>
			
			<p>As you can see, each <vocab>row</vocab> represents <i>one</i> of the 
			<vocab>objects</vocab> in the list (in this case, a partier), and 
			each <vocab>column</vocab> represents a <i>property</i> of those 
			<vocab>objects</vocab> that, at least in theory, most <vocab>objects</vocab> 
			will have a value for (otherwise, that <vocab>row</vocab> will have an empty, or
			"NULL" value, in that <vocab>column</vocab>).  Each "cell" in spreadsheet
			terms, or individual piece of data (like Kasper's first name, or phone number)
			is called a <vocab>field</vocab>.<p>
			
			<p>Now, <vocab>SQL</vocab>, like I said earlier, partly defines <b>a language 
			to interact with these</b> <vocab>tables</vocab>.  
			Let's check out a few <vocab>statements</vocab> in this 
			language, with the caveat that there are multiple major flavors of <vocab>SQL</vocab> 
			out there and that these <vocab>statements</vocab> might require 
			slight tweaks for some flavors.  
			This is just to give yall a taste of what interacting with <vocab>SQL</vocab> is 
			like, moreso than an actual instructional primer on how to <vocab>SQL</vocab>.
			BEHOLD</p>

			<p>Need to get some information from the <vocab>table</vocab>?  
			Let's use a SELECT 
			statement.  I want to invite some people to a party.  Let's get a guest list 
			going, here.</p>

			<code>SELECT FirstName, PhoneNumber<br>
				FROM Partiers<br>
				WHERE Cool? = TRUE</code><br><br>

			<p>(Don't worry about the spacing and line breaks in these <vocab>queries</vocab>.  
			<vocab>SQL</vocab>, 
			like most programming languages, doesn't really care what you do with either, so 
			just try to make it look organized in a way that makes sense to you.)  Anyway, 
			here's what we get:</p>

			<table>
				<tr>
					<th>FirstName</th>
					<th>PhoneNumber</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>555-6477</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>555-4881</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>555-5338</td>
				</tr>
			</table>

			<p>Let's break that down.  SELECT is the <vocab>statement</vocab> to 
			retrieve data from a 
			<vocab>table</vocab>, followed by the names of the <vocab>columns</vocab> 
			you actually want the data from.  FROM is necessary; you've got to specify 
			the name of which <vocab>table</vocab> in the <vocab>database</vocab> you want 
			the data from.  The final bit we added there, the WHERE condition, isn't 
			<b>necessary</b> for SELECT <vocab>queries</vocab>, 
			but without it SELECT will just grab 
			<b>every</b> <vocab>row</vocab>, so we use this to specify 
			only to grab partiers whose "Cool?" 
			value is TRUE.  I don't need those uncool kids making messes all over my 
			parents' house while they're out of town.  I ain't cleanin' up after that.</p>

			<p>Alright!  Let's do something else.  One of our closest homies is vouching 
			for another partier.  Let's throw em in the <vocab>table</vocab>.  
			This partier's name is 
			Pris Taylor, her number is 555-8905, and from what we <i>hear</i> she's cool.  
			Let's put her in with another <vocab>statement</vocab>, an INSERT:</p>

			<code>INSERT INTO Partiers<br>(FirstName, LastName, PhoneNumber, Cool?)<br>VALUES<br>( 
			'Pris', 'Taylor', '555-8905', TRUE)</code>

			<p>Pretty straightforward, right?  INSERT INTO &lt;tablename&gt;, the names of the 
			<vocab>columns</vocab>, then specify the VALUES of the <vocab>fields</vocab> 
			in the same order that you specified 
			the <vocab>column</vocab> names.  Right, well, theoretically she's in our growing 
			rolodex now.  Let's check:</p>

			<code>SELECT * FROM Partiers</code><br><br>

			<table>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>PhoneNumber</th>
					<th>Cool?</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>Peura</td>
					<td>555-6477</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Nathan</td>
					<td>Van Houten</td>
					<td>555-8580</td>
					<td>FALSE</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>Dirkx</td>
					<td>555-4881</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>Janssens</td>
					<td>555-5338</td>
					<td>TRUE</td>
				</tr>
				<tr>
					<td>Kasper</td>
					<td>Kovačević</td>
					<td>555-1720</td>
					<td>FALSE</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>Taylor</td>
					<td>555-8905</td>
					<td>TRUE</td>
				</tr>
			</table>

			<p>Yep.</p>

			<p>There are naturally more ways to interact with <vocab>tables</vocab> in 
			<vocab>SQL</vocab>, but beyond adding data (INSERT) and retrieving data (SELECT), 
			I'm only going to show you one more - the all-important JOIN.  This is what 
			you use to cross-reference <vocab>tables</vocab>.</p>

			<p>Let's say we have another <vocab>table</vocab>, "PartyHouses".  This is what that 
			<vocab>table</vocab> looks like:

			<table>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Address</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>Peura</td>
					<td>15 Rich Kid Ln</td>
				</tr>
				<tr>
					<td>Nathan</td>
					<td>Van Houten</td>
					<td>73 Irradiated Dr</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>Dirkx</td>
					<td>2365 Backwoods St</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>Janssens</td>
					<td>800 Mugging Blvd</td>
				</tr>
				<tr>
					<td>Kasper</td>
					<td>Kovačević</td>
					<td>92 Gilded Ln</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>Taylor</td>
					<td>1 Bourgeois Ct</td>
				</tr>
			</table>

			<p>We're trying to find a spot for our next rager, but we want to be sure that it's 
			at a cool person's house.  We don't want them making a big deal out of the mess we 
			totally leave there.  Buckle up, this is about to get crazy:</p>

			<code>SELECT Partiers.FirstName, Partiers.LastName,<br>
				Partiers.PhoneNumber, Partiers.Cool?,<br>
			PartyHouses.Address<br>
			FROM Partiers<br>
			JOIN PartyHouses<br>
			ON Partiers.FirstName=PartyHouses.FirstName</code><br><br>

			<p>Whoa!  Let's break that down real quicklike.  Firstly, you'll notice that since 
			we're JOINing multiple <vocab>tables</vocab>, when specifying the 
			<vocab>columns</vocab> we want to 
			SELECT we need to specify which <vocab>table</vocab> each <vocab>column</vocab> is 
			in using the format &lt;tablename&gt;.&lt;columnname&gt;.  
			Makes sense; it'd be vague otherwise.  
			Which <vocab>table</vocab> you use as your FROM only matters 
			when you're using specific types of JOINs beyond the scope of this post.  Finally, we 
			do the JOIN itself, which says that FirstName in the Partiers <vocab>table</vocab> 
			is equal to FirstName in the PartyHouses <vocab>table</vocab>.  
			In other words, we want to line up the data	<vocab>fields</vocab> 
			of the <vocab>rows</vocab> where the first name matches between the two 
			<vocab>tables</vocab>.  Phew.  Here's what comes out:</p>

			<table>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>PhoneNumber</th>
					<th>Cool?</th>
					<th>Address</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>Peura</td>
					<td>555-6477</td>
					<td>TRUE</td>
					<td>15 Rich Kid Ln</td>
				</tr>
				<tr>
					<td>Nathan</td>
					<td>Van Houten</td>
					<td>555-8580</td>
					<td>FALSE</td>
					<td>73 Irradiated Dr</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>Dirkx</td>
					<td>555-4881</td>
					<td>TRUE</td>
					<td>2365 Backwoods St</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>Janssens</td>
					<td>555-5338</td>
					<td>TRUE</td>
					<td>800 Mugging Blvd</td>
				</tr>
				<tr>
					<td>Kasper</td>
					<td>Kovačević</td>
					<td>555-1720</td>
					<td>FALSE</td>
					<td>92 Gilded Ln</td>
				</tr>
				<tr>
					<td>Pris</td>
					<td>Taylor</td>
					<td>555-8905</td>
					<td>TRUE</td>
					<td>1 Bourgeois Ct</td>
				</tr>
			</table>

			<p>Boom.  Now we have everything we need to figure out who to hit up.</p>

			<p>That's about all of it.  Obviously there are more <vocab>queries</vocab> 
			and <vocab>statements</vocab> in <vocab>SQL</vocab> 
			than these, such as ORDER BY which sorts 
			output from a SELECT, or DELETE if you want to delete a <vocab>row</vocab>, 
			but again, this isn't meant to be comprehensive - this is just to show you 
			what interacting with <vocab>SQL</vocab> is like.</p>

			<p>It's at this point you might be asking, "Why any of this?  Who decided on 
			<vocab>SQL</vocab>, and why?"  That's because <vocab>SQL</vocab> is designed 
			to be as computationally efficent <i>as possible</i>.  The whole point here is 
			efficiency.  And while there are newer, less strict <vocab>database</vocab> 
			systems out there (referred to as <vocab>No-SQL</vocab> <vocab>database</vocab> 
			systems) they're not nearly as efficient as a well-planned <vocab>SQL</vocab> 
			<vocab>database</vocab> system.</p>

			<p>Notice, however, that I stipulated "well-planned".  Heavy use of JOINs in 
			an application interfacing with an <vocab>SQL</vocab> <vocab>database</vocab> 
			will <b>kill</b> your efficiency, at which point using a <vocab>No-SQL</vocab> 
			system would be a better choice (which is why these are generally considered 
			"prototyping" <vocab>databases</vocab> - generally it's hard 
			to structure your data well until 
			you're further into your project.)  Essentially, if you can plan 
			your <vocab>tables</vocab> such 
			that data is grouped according to how you'll be accessing it, your 
			<vocab>database</vocab> will be <b>as fast as it's possible to make it.</b></p>

			<p><center><booming>~fin~</booming></center></p>

			
		</div>
	
	</body>
</html>

