<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>POST TITLE NAME</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>
		
    <div class="menubar">
      <a href="/">home</a>
      <a href="/read/posts">posts</a>
      <a href="/read/contact">contact</a>
      <a href="/read/whereami">what is this</a>
    </div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/dns">What's DNS??</a>
      <a href="/read/sql">SQL is easy</a>
		</div>
		
		<div class="textBody">
			</p><center><booming>So you're interested in <vocab>Linux</vocab>, 
				you say?</booming></center></p>

			<p>Well, good!  I guess the first question to answer is "What exactly <i>is</i> 
			<vocab>Linux</vocab>, anyway?"  The most common answer to that is that it's an 
			<vocab>operating system</vocab> (more commonly referred to by <vocab>OS</vocab>) 
			like <vocab>Windows</vocab> or Apple's <vocab>macOS</vocab> (we'll get into why 
			that's only <i>mostly</i> correct here in a minute, but for now this definition 
			will work.)  It's used mostly on <vocab>servers</vocab>, but a growing number 
			of people use it on their <vocab>desktop PCs</vocab> or <vocab>laptops</vocab> 
			as well.  Next question:  "How's it different from <vocab>Windows</vocab>, or 
			<vocab>macOS</vocab>?"  Great one!  To answer that best, we need a (brief) history 
			lesson.</p>

			<p>The first few decades of computers weren't like they are now; these days, 
			there are a few major <vocab>OSes</vocab>, sure, but you can generally sit 
			down at any computer and feel relatively comfortable using it.  
			Back then each computer 
			vendor had written their <i>own</i> <vocab>OS</vocab>.  If you were using a 
			computer, you had to know how to interact with <i>that</i> computer's 
			<vocab>OS</vocab>.  Using any given computer technology required being a 
			specialist in that specific technology.</p>

			<p>Then, in the mid-70s, a group of programmer types (I'm not going into 
			too many details here, they're unimportant for our purposes, google it 
			if you're curious) created <vocab>Unix</vocab>.  This evolved over time, 
			but by its fifth and final large revision, <vocab>SysV</vocab>, it had been 
			ported to a pile of computer architectures and iterated upon, and for all 
			intents and purposes had become <i>the</i> <vocab>OS</vocab>.</p>

			<p><vocab>Unix</vocab>'s design philosophy is "Do one thing, and do it well."  
			Its design is <vocab>modular</vocab>; instead of giant megaprograms designed 
			to do lots of very specific tasks (think, say, Microsoft Word) it was made up 
			of a pile of programs that only did <i>one</i> task, which could be assembled 
			like Lego blocks on the fly for any larger scale task one might need.  I'll show 
			you what I mean.</p>

			<p>Let's say I'm logged into a <vocab>Unix</vocab> system, and I have to go through a 
			10,000 line piece of code, 
			


		</div>
	</body>
</html>

