<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>SQL</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>
    <div class="menubar">
      <a href="/">home</a>
      <a href="#posts">posts</a>
      <a href="#contact">contact</a>
    </div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/sql">SQL is easy</a>
      <a href="/read/dns">What's DNS??</a>

		</div>

		<div class="textBody">
			<p>SQL, Structured Query Language, is both a piece of server software which hosts
			and keeps organized a database system and a, well, <i>structured language</i>
			for interacting with it and <i>querying</i> the database.</p>
			
			<p>That's a mouthful.  An SQL database is essentially a collection of spreadsheets, 
			which it calls <vocab>tables</vocab>.  Tables have, just like spreadsheets,
			<vocab>columns</vocab> and <vocab>rows</vocab>.  
			Tables are generally used to represent a list of objects.</p>
			
			<p>Let's look at a table.  This table's named <i>Partiers</i>.</p>
			
			<table>
				<tr>
					<th>FirstName</th>
					<th>LastName</th>
					<th>PhoneNumber</th>
					<th>Cool?</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>Peura</td>
					<td>555-6477</td>
					<td>True</td>
				</tr>
				<tr>
					<td>Nathan</td>
					<td>Van Houten</td>
					<td>555-8580</td>
					<td>False</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>Dirkx</td>
					<td>555-4881</td>
					<td>True</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>Janssens</td>
					<td>555-5338</td>
					<td>True</td>
				</tr>
				<tr>
					<td>Kasper</td>
					<td>Kovačević</td>
					<td>555-1720</td>
					<td>False</td>
				</tr>
			</table>
			
			<p>As you can see, each row represents <i>one</i> of the objects in 
			the list (in this case, a partier), and 
			each column represents a <i>property</i> of those objects that, at least in theory,
			most objects will have a value for (otherwise, that row will have an empty, or
			"NULL" value, in that column).  Each "cell" in spreadsheet
			terms, or individual piece of data (like Kasper's first name, or phone number)
			is called a <vocab>field</vocab>.<p>
			
			<p>Now, <vocab>SQL</vocab>, like I said earlier, partly defines <b>a language 
			to interact with these tables</b>.  Let's check out a few commands in this 
			language, with the caveat that there are multiple major flavors of <vocab>SQL</vocab> 
			out there and that these commands might require slight tweaks for some flavors.  
			This is just to give yall a taste of what interacting with <vocab>SQL</vocab> is 
			like, moreso than an actual instructional primer on how to <vocab>SQL</vocab>.
			BEHOLD</p>

			<p>Need to get some information from the table?  Let's use a <b>SELECT</b> 
			statement.  I want to invite some people to a party.  Let's get a list.</p>

			<code>SELECT FirstName, PhoneNumber FROM Partiers WHERE Cool? = TRUE</code>

			<table>
				<tr>
					<th>FirstName</th>
					<th>PhoneNumber</th>
				</tr>
				<tr>
					<td>Tristán</td>
					<td>555-6477</td>
				</tr>
				<tr>
					<td>Vartolomej</td>
					<td>555-4881</td>
				</tr>
				<tr>
					<td>Károly</td>
					<td>555-5338</td>
				</tr>
			</table>

			<p>Let's break that down.  SELECT is the command to retrieve data from a 
			<vocab>table</vocab>, followed by the names of the <vocab>columns</vocab> 
			you actually want the data from.  FROM is necessary; you've got to specify 
			the name of which <vocab>table</vocab> in the <vocab>database</vocab> you want 
			the data from.  The final bit we added there, the WHERE condition, isn't 
			<b>necessary</b> for SELECT commands, but without it SELECT will just grab 
			<b>every row</b>, so we use this to specify only to grab partiers whose "Cool?" 
			value is TRUE.  I don't need those uncool kids making messes all over my 
			parents' house while they're out of town.  I ain't cleanin' up after that.</p>

			<p>Alright!  Let's do something else.  One of our closest homies is vouching 
			for another partier.  Let's throw em in the table.  This partier's name is 
			Pris Taylor, her number is 555-8905, and from what we <i>hear</i> she's cool.  
			Let's put her in with another statement, an INSERT:</p>

			<code>INSERT INTO Partiers (FirstName, LastName, PhoneNumber, Cool?) VALUES ( 
				'Pris', 'Taylor', '555-8905', TRUE)</code>

			<p>Right, well, theoretically she's in our growing rolodex now.  Let's check:</p>

			<booming>to be continued when I write more</booming>


			<p>You might ask: "Why SQL?"  Why didn't we settle on keeping all data that programs store
			in <i>normal</i> spreadsheets, or text files, or what have you?  Why do we need all
			of this convoluted standard query syntax?</p>
			
			<p><b>SQL is designed to be as efficient as is <i>computationally possible</i>.<br>
			Interacting through queries with a well-designed database - 
			one with few, descriptive tables only occasionally
			needing to perform joins - is somewhere in the ballpark of 
			an <i>order of magnitude</i> (ten <i>times</i>)
			faster performing than its non-SQL database serving cousins.  So yeah.  Use SQL.</b><p>
		</div>
	
	</body>
</html>

