<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>Oh hello</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>
		
    <div class="menubar">
			<p>navigate<br>
				 --------</p>
      <a href="/">home</a>
      <a href="/read/posts">posts</a>
      <a href="/read/contact">contact</a>
    </div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/sql">SQL is easy</a>
      <a href="/read/dns">What's DNS??</a>
		</div>
		
		<div class="textBody">

			<p><center>contact??  surely you jest!  get off my lawn</center></p>

			<p><center>(feel free to email me at <a href="mailto:reffstar@gmail.com">
			reffstar@gmail.com</a>)</center></p>

		</div>
	</body>
</html>

