<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>SQL</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>

		<div class="menubar">
			<a href="#home">home</a>
			<a href="#posts">posts</a>
			<a href="#contact">contact</a>
		</div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
      <a href="/read/sql">SQL is easy</a>
		</div>

		<div class="textBody">
			<booming><i>HOWDY</i></booming>
			<p>This sure is a website, huh?</p>

			<p>Important words look like <vocab>this</vocab>.</p>

			<code>code looks like this</code>

			<p>Prepare your <vocab>buttholes</vocab>.</p>
		</div>	
	</body>
</html>

