<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>Welcome!!</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>

		<div class="menubar">
			<p>navigate<br>
				 --------</p>
			<a href="/">home</a>
			<a href="/read/posts">posts</a>
			<a href="/read/contact">contact</a>
			<a href="/read/whereami">what is this</a>
		</div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
			<a href="/read/sql">SQL is easy</a>
		  <a href="/read/dns">What's DNS??</a>
		</div>

		<div class="textBody">
			
			<booming><center><i>Howdy!</i></center></booming>

			<br>

			<p>This site explains things.  Want to know more?  Go 
			<a href="/read/whereami">here</a>.</p>

			<p>Navigate the site on the left bar, or peruse articles using 
			the right bar.</p>

			<p>Important words look like <vocab>this</vocab>.</p>

			<code>code looks like this</code>

			<p>Let's <i>do this</i>.</p>
		</div>	
	</body>
</html>

