<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <meta charset="UTF-8">
    <title>Welcome!!</title>
		<link rel="stylesheet" href="{% static 'read/css/blog_post.css' %}">
  </head>

	<body>

		<div class="menubar">
			<p>navigate<br>
				 --------</p>
			<a href="/">home</a>
			<a href="/read/posts">posts</a>
			<a href="/read/contact">contact</a>
		</div>

		<div class="postbar">
			<p>articles<br>
				 --------</p>
      <a href="/read/nat">NATs suck</a>
			<a href="/read/sql">SQL is easy</a>
		  <a href="/read/dns">What's DNS??</a>
		</div>

		<div class="textBody">
			<booming><i><center>"How does it work, why does it work that way, and how 
			does it fit into the grand scheme of things?"</center></i></booming>
			
			<p>These questions haunt me constantly, and I think answering them is the most 
			important starting point for understanding any technical topic.  Hi!  I'm the 
			old man reffi, and this is my site oldmanreffi.com.  A mildly narcissistic 
			choice of domain name I suppose, but I'm not above that sort of thing.</p>

			<p>This website is about technology, and seeks to answer these all-important 
			questions on any technological topic I choose to tackle.  I work in the 
			tech world, and I find both that 
			getting into tech in general <i>and</i> attempting to communicate between 
			disciplines in tech is an <i>absurdly</i> daunting undertaking because of 
			all the jargon in use (and unfortunately the use of said jargon to attempt 
			to impress one another).  The dirty little secret of the tech realm is 
			that none of this stuff is <i>actually</i> that complicated.</p>

			<p>The goal of the posts I'm going to be making is to present a sort of bird's 
			eye view of any given technology.  I will go in depth as far as I feel necessary 
			to where one has an understanding of how a technology works, why it works that 
			way, and how it relates to other technologies.  When the reader 
			is done, well, reading any given post, it is my hope that she will understand 
			enough about the topic to be <i>conversant</i> in it, and more importantly will 
			have a solid blueprint for the construct that further knowledge on the topic will 
			build in their mind.  That last sentence is a bit of a doozy, so let me demonstrate 
			with an example:</p>

			<p><i>"I'm being told Linux is the bee's knees.  What is it?"</i></p>

			<p><i>"Well, it's the kernel to an open-source operating system that technically 
			be referred to as GNU/Linux as it's pretty much solely used and distributed 
			with the GNU operating system ecosystem.  
			What distro are you looking at using?"</i></p>

			<p><i>"Excuse me?"</i></p>

			<p>What's needed here (in my exemplary and faultless opinion) is not just 
			a dictionary definition of each of these much more complex topics, but a sort 
			of roadmap of what the whole Linux landscape looks like such that one can 
			meaningfully understand and navigate said landscape.  <i>That</i> is what 
			I hope to bring you, dear reader (and I will be covering this very topic in 
			a post, as that's a whole convoluted mess as it is for many reasons).</p>

			<p>The articles I'm going to explain these technologies in will vary.  Most 
			will be written in some sort of character - for instance, more than a few 
			are a grandpa rambling to his grandkids about technology.  I'm doing this 
			for a reason!  Part of this reason is that being a rambling grandpa suits me.  
			Normally I really am like that.  I'll be fleshing these characters out more 
			as I go on - please try to bare with me as that happens.</p>


			<p>Important words look like <vocab>this</vocab>.</p>

			<code>code looks like this</code>

			<p>Let's <i>do this</i>.</p>
		</div>	
	</body>
</html>

